*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
}

@layer colors {
  :root {
    /* primary */
    --c-primary-1: hsl(158,36%,37%);
    --c-primary-2: hsl(158,42%,18%);

    /* neutral */
    --c-black: hsl(212,21%,14%);
    --c-grey: hsl(228,12%,48%);
    --c-cream: hsl(30,38%,92%);
    --c-white: hsl(0,0%,100%);

    --c-button-text: var(--c-white);
  }
}

@layer typography {
  @font-face {
  	font-family: Montserrat;
  	font-weight: 500 700;
  	src: url('assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  }

  @font-face {
  	font-family: Faunces;
  	font-weight: 700;
  	src: url('assets/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
  }

  :root {
    --fs-paragraph: calc(14/16 * 1rem);
    --fs-title: calc(39 / 16 * 1rem);
  }
}


html {
  font-size: var(--fs-paragraph);
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 500;
}

body {
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--c-cream);
  min-block-size: 100dvb;
  
}

.card-body p {
  margin: 0;
  line-height: 1.5lh;
}

.card {
  display: block;
  background-color: var(--c-white);
  border-radius: 10px;
  overflow: hidden;
  color: var(--c-grey);
  max-width: calc(800 / 16 * 1em);
  
}

.card__image {
  max-width: 100%;
  height: auto;
}

.card-grid {
  display: grid;
  
  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr;
    /*grid-auto-rows: minmax(auto-fit, 1fr);*/
  }
}


.card-title {
  color: var(--c-black);
  font-family: Faunces, serif;
  font-weight: 700;
  font-size: var(--fs-title);
  margin-block-end: 0;
}

.item-category {
  color: var(--c-grey);
  text-transform: uppercase;
  letter-spacing: .5ch;
  font-weight: 700;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2.5rem;
}

.wrapper {
  padding: 2rem;
}

.price-info {
  display: flex;
  align-items: center;
  gap: 3ch;
}

.price-info :first-child {
  color: var(--c-primary-1);
  font-size: 3rem;
  font-family: Faunces;
  font-weight: 700;
  margin-block: .5ch;
}

.price-info :nth-child(2) {
  text-decoration-line: line-through;
}

.button {
  display: flex;
  background-color: var(--c-primary-1);
  border-radius: 10px;
  color: var(--c-button-text);
  padding-block: 1.05em;
  padding-inline: 2em;
  text-decoration: none;
  justify-content: center;
  font-weight: 700;

  &:hover {
    background-color: var(--c-primary-2);
    text-decoration: none;
  }

  & img {
    margin-inline-end: 1ch;
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}